@mixin banner {
    width: 100%;
    position: relative;
    color: white;
    // nested banner
    .banner-content {
        position: absolute;
        top: 50px;
        width: 100%;
    }
    // nested img
    img {
        width: 100%;
    }
    span {
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title {
        font-weight: normal;
        margin-bottom: 30px;
    }
} 

@mixin clearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin grid($cols, $mgn) {
    float: left;
    margin-right: $mgn;
    margin-bottom: $mgn;

    // Helpful way of creating a perfect spacing while using a bunch of columns and rows.
    width: ((100% - (($cols - 1) * $mgn)) / $cols );
    &:nth-child(#{$cols}n) {
        margin-right: 0;
    }
}

@mixin mQ($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}