// Mixins

@mixin banner{
    width: 100%;
    position: relative;
    color: white;
    // nested banner
    .banner-content {
        position: absolute;
        top: 50px;
        width: 100%;
    }
    // nested img
    img {
        width: 100%;
    }
    span {
        font-size: $bannerHeading;
        display: block;
        text-transform: uppercase;
        font-weight: bold;
    }
    span.title {
        font-weight: normal;
        margin-bottom: 30px;
    }
} 

@mixin clearFix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}